[submodule "Lesson03/project/AIND-Sudoku"]
	path = Lesson03/project/AIND-Sudoku
	url = git@github.com:luzi82/AIND-Sudoku.git
[submodule "Lesson06/project/AIND-Isolation"]
	path = Lesson06/project/AIND-Isolation
	url = git@github.com:luzi82/AIND-Isolation.git
[submodule "Lesson11/project/AIND-Planning"]
	path = Lesson11/project/AIND-Planning
	url = git@github.com:luzi82/AIND-Planning.git
